.vscode/
.meowconfig/
compiler/
# libs/
scripts/
build/
builds/
build-*/
dist/
output/
out/
bin/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
compile_commands.json
report.txt
perf.data
*.o
*.a
*.dll
*.so
*.exe
*.patch
*.log
*.temp
*.tmp
*.html
*.meowc
# *.meowb